<h1>Asset Helpers</h1>

<%= image_tag 'funny.jpg', :alt => 'Children smoking', :class => 'feature' %>

<%= image_tag 'http://www.fillmurray.com/500/560', :alt => 'Handsome Bill Murray', :class => 'hotdogs' %>

<p>
    There also helpers for <code>video_tag</code> and <code>audio_tag</code>
</p>