<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Layout Demo</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container">
        <header>
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">FAQ</a>
                <a href="#">Contact</a>
            </nav>
            <h1>Title</h1>
        </header>

        <main>
            <h2>Content Goes Here</h2>
            <img src="http://www.fillmurray.com/400/600" alt="Bill Murray's Head">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur unde distinctio enim numquam eligendi perspiciatis voluptatum sit ipsum consequatur pariatur. Consectetur aliquam dolores eveniet amet libero atque, facilis in voluptatum.</p>
            <p>Asperiores nobis provident aperiam, nihil incidunt consectetur, ullam dolorem quasi, repudiandae velit voluptatum perferendis. Officia, natus voluptatem dolor soluta, aliquam totam consectetur dignissimos minima ea minus quod quaerat? Sunt, aperiam?</p>
            <p>Quidem quaerat dolore odit minima vel mollitia accusantium, reiciendis veritatis neque beatae est repudiandae voluptatem similique distinctio debitis commodi dolores deleniti consequuntur, illo delectus tenetur. Officiis voluptas totam placeat doloribus.</p>
        </main>
        
        <aside>
            <h3>Fun Facts</h3>
            <ul>
                <li>Groucho</li>
                <li>Harpo</li>
                <li>Chico</li>
                <li>Gummo</li>
            </ul>
        </aside>
    </div>

</body>
</html>