<h1 class="text-center">
    NEWS OF THE WORLD
</h1>

<div class="row">
    <div class="col-md-3">
        <h3>Subheading</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet tempore beatae, quia ex porro illum atque earum ipsum, mollitia id aliquid amet odit? Voluptatum sapiente error, reiciendis sed dolorum dignissimos.</p>
        <p>Recusandae nobis vero adipisci corporis autem obcaecati odit aut officia voluptatum aperiam. Libero, modi? Est, repellendus. Incidunt, quae ut, id quis vitae suscipit unde neque labore aliquam maxime alias minima!</p>
    </div>

    <div class="col-md-6">
        <h2 class="text-center">MAIN HEADING</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At ad quidem eum maxime. Earum maiores dolorum velit animi laudantium adipisci, hic totam iste, possimus laboriosam similique optio inventore nesciunt corrupti.</p>
        <p>Officiis quaerat, cupiditate libero, nulla temporibus eos possimus, architecto sed porro quibusdam consectetur molestias veniam! Optio, quaerat quas velit voluptate animi tenetur inventore quam, possimus nisi, nihil dolores commodi eos.</p>
        <p>Aperiam deserunt architecto eius ex velit fugit quaerat? Dolorum aut esse inventore ea possimus rerum quae ratione amet consectetur illum, soluta quo quod cupiditate quaerat voluptatibus maiores aperiam, assumenda est!</p>
    </div>

    <div class="col-md-3">
        <h3>Subheading</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, ab ullam, libero nisi molestiae temporibus et numquam sed sunt error quo. Velit possimus eligendi ut eius ratione ea laborum nemo?</p>
        <p>Sit ipsum reprehenderit quam illo enim quod adipisci ratione fugit! Quos vitae adipisci quibusdam magni sed dolor iusto minima tenetur explicabo magnam? Quo quasi aut quod in at ea impedit.</p>
    </div>
</div>