%h1.heading.fancy#friday Wow this HAML

/ this is a comment

%h2= "hotdogs" * 15

%h3= "Your lucky number is #{ @lucky }"

%div.container
    %p this is a nested paragraph
    %p this is also nested
    %p
        %span here is a span
%p this is not nested

%label
    Name
    %input{:type => 'number', :placeholder=>'What is your favourite number?'}

%ul
    - %w( Groucho Harpo Chico Zeppo Gummo ).each do |brother|
        %li= brother

%p HAML knows when to close a block based on your indentation
