<h1>A Blog About Feelings</h1>

<div class="post">
    <h2>First Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem vero atque, itaque perferendis eligendi tempore asperiores accusamus amet velit rerum consectetur earum temporibus pariatur soluta, reprehenderit qui corrupti sapiente unde?</p>
        <p>Nulla molestias amet qui ducimus tempora pariatur ullam nobis dolore laborum, dignissimos enim quos soluta quasi numquam placeat cupiditate neque ut tenetur reiciendis cum atque, asperiores quod. Enim, sit labore.</p>
    </div>
</div>

<div class="post">
    <h2>Second Post</h2>
    <h3 class="author">Some Other Author</h3>
    <div class="content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis perspiciatis harum expedita! Ullam iure tempore quam fugiat, maiores magnam sit quis corporis animi nemo quasi odio at voluptate nobis suscipit?</p>
        <p>Deleniti porro at non vel aliquam laborum, repellendus, delectus architecto animi recusandae fugiat ad blanditiis doloremque dolores odit facere. Placeat eos sit molestiae, omnis dolorem aliquam repudiandae quam tempora deleniti.</p>
    </div>
</div>

<div class="post">
    <h2>Third Post</h2>
    <h3 class="author">Another Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, eaque? Expedita fuga quibusdam maxime sequi repudiandae blanditiis possimus magnam incidunt quas, dignissimos assumenda tenetur ut hic officia ratione id illo.</p>
        <p>Veritatis ipsa tenetur dolores ex similique harum omnis quis minima, perferendis quidem repellat ad delectus saepe ducimus deserunt earum labore. Odio rerum fuga dolores dolore soluta voluptate ut illum eos?</p>
    </div>
</div>

<hr>

<div class="notification">
    This is a notification
</div>

<div class="error">
    This is error
</div>

<div class="success">
    This is success
</div>

